@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: rgba(199, 199, 196, 0.186);
}

header {
  width: 100%;
  height: 80px;
  background-color: #fff;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  width: 100%;
  height: 100%;
  align-items: center;
  color: #565de8;
}

.header-nav p {
  font-weight: 900;
  font-size: 18px;
}

.header-nav ul {
  display: flex;
  gap: 12px;
}

.header-nav .item .items {
  list-style: none;
  color: black;
}

.header-nav .hidden-menu {
  display: none;
}

/* SECTION LANDING PAGE************************************************* */

.landing-section {
  width: 100%;
  height: 500px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("Assets/background\ landing.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom-left-radius: 100px;
  background-position: center;
}

.landing-page {
  margin-top: 70px;
  width: 70%;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.landing-page-part {
  width: 35%;
}

.landing-page-part-name {
  font-size: 36px;
  font-weight: 900;
  color: #25253e;
}

.landing-page-description {
  color: #25253e;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.19;
}

.landing-page-button {
  margin-top: 18px;
  width: 200px;
  padding: 0;
  text-decoration: none;
  color: #565de8;
}

.landing-page-button a {
  text-decoration: none;
}

.landing-page-icon {
  display: flex;
  gap: 5px;
}

.landing-page-icon-icon {
  font-size: 23px;
}

/* Section work************************************ */

.section-work {
  width: 100%;
  height: 2000%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
}

.section-work-Card {
  width: 1000px;
  height: 370px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.order {
  order: 1;
}

.section-work-Card-left {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 7px;
  background-image: url("Assets/mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.section-work-Card:hover {
  transform: scale(1.1);
}

.section-work-Card-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
}

.Card-right-title {
  color: #25253e;
  margin-top: 32px;
}

.Card-right-tools {
  display: flex;
  gap: 7px;
  align-items: center;
}

.Card-right-tools li {
  list-style: none;
  font-size: 12px;
}

.Card-right-tools-first {
  font-weight: 900;
}

.Card-right-tools-li-special {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-weight: 0;
}

.Card-right-description {
  color: #25253e;
}

.Card-right-tools-li-special .ion-icon {
  font-size: 7px;
}

.Card-right-language {
  display: flex;
  gap: 12px;
  align-items: center;
}

.Card-right-language p {
  background-color: #c7d3f879;
  color: #565de8;
  padding: 4px 8px;
  border-radius: 7px;
  font-size: 12px;
}

.card-right-button {
  text-decoration: none;
  color: #565de8;
  width: 100px;
  padding: 10px 5px;
  border-radius: 7px;
  text-align: center;
  border: 1px solid #565de8;
  margin-top: 18px;
}

.card-right-button:hover {
  background-color: #565de8;
  color: #fff;
  cursor: pointer;
}

.card-right-button:active {
  background-color: #09109b;
  color: #fff;
  cursor: pointer;
}

/* ABAOUT ME SECTION*********************** */

.About-me {
  width: 100%;
  height: 500px;
  margin-top: 70px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  background-color: #fff;
  border-top-right-radius: 100px;
}

.About-me-left,
.About-me-right {
  width: 504px;
  height: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.About-me-left h1 {
  font-size: 36px;
  font-weight: 900;
  color: #25253e;
}

.About-me-left .card-right-button {
  width: 150px;
  margin-top: 0;
}

.About-me-left .anding-page-description {
  line-height: 1.06;
}

.about-me-carousel {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.carousel-header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  color: #25253e;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(171, 170, 170, 0.682);
}

.border-bottom {
  border: none;
}

.carousel-content {
  display: flex;
  gap: 24px;
  margin: 24px;
}

.carousel-content nav {
  padding: 10px 10px 10px 7px;
  background-color: #bdbecc59;
  width: 90px;
  height: 70px;
  border-radius: 7px;
  transition: transform 0.3s ease-in-out;
}

.carousel-content nav:hover {
  transform: scale(1.1);
}

.logo-html {
  width: 30px;
}

.logo-css {
  width: 30px;
}

.logo-js {
  width: 30px;
  border-radius: 50%;
}

/* Contact me section************************* */

.Contact-me {
  width: 100%;
  height: 550px;
  background-color: #fff;
}

.Contact-me-container {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: #565de8;
  background-image: url("Assets/bg-contact-form-big.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  gap: 12px;
  border-top-left-radius: 100px;
}

.Contact-me-content {
  margin-top: 40px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Contact-me-title {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}

.Contact-me-description {
  text-align: center;
}

.Contact-me-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.Contact-me-form input {
  width: 80%;
  height: 40px;
  padding: 10px;
  border: 1px solid white;
  outline: none;
}

.textarea {
  width: 80%;
  padding: 10px;
  outline: none;
}

.Contact-me-form a {
  background-color: #fff;
  color: #565de8;
  border: 1px solid #fff;
  text-decoration: none;
  width: 150px;
  font-size: 12px;
}

@media (max-width: 1062px) {
  .landing-page {
    margin-top: 70px;
    width: 70%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .landing-page-part {
    width: 35%;
  }

  .landing-page-part-name {
    font-size: 28px;
    font-weight: 900;
    color: #25253e;
  }

  .section-work-Card {
    width: 850px;
    height: 370px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .About-me-left,
  .About-me-right {
    width: 420px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 891px) {
  .landing-page {
    margin-top: 70px;
    width: 70%;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .landing-page-part {
    width: 40%;
  }

  .landing-page-part-name {
    font-size: 28px;
    font-weight: 900;
    color: #25253e;
  }

  .section-work-Card {
    width: 740px;
    height: 340px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .section-work-Card-left {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 7px;
    background-image: url("Assets/mobile.jpg");
    background-size: 95% 95%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .section-work-Card-right {
    width: 90%;
  }

  .About-me-left,
  .About-me-right {
    width: 378px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 768px) {
  .section-work {
    gap: 43px;
  }

  .landing-page-part {
    width: 56%;
  }

  .section-work-Card {
    width: 680px;
    height: 310px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }

  .section-work-Card-left {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 7px;
    background-image: url("Assets/mobile.jpg");
    background-size: 95% 95%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .section-work-Card-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1px;
  }

  .About-me-left,
  .About-me-right {
    width: 341px;
    height: 300px;
    gap: 14px;
  }

  .landing-page-description {
    font-size: 14px;
  }

  .carousel-header {
    font-size: 17px;
  }

  .About-me-left h1 {
    font-size: 33px;
  }

  .carousel-content nav {
    width: 85px;
    height: 71px;
    border-radius: 7px;
  }
}

@media (max-width: 710px) {
  .section-work-Card {
    width: 630px;
    height: 290px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }

  .section-work-Card-left {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 7px;
    background-image: url("Assets/mobile.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .section-work-Card-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .Card-right-title {
    margin-top: 16px;
  }

  .Card-right-description {
    font-size: 14px;
  }

  .landing-page-description {
    font-size: 14px;
  }

  .carousel-header {
    font-size: 17px;
  }

  .About-me-left h1 {
    font-size: 31px;
  }

  .About-me-left,
  .About-me-right {
    width: 314px;
    height: 300px;
  }

  .carousel-content nav {
    width: 85px;
    height: 71px;
    border-radius: 7px;
  }

  .carousel-content {
    display: flex;
    gap: 13px;
    margin: 21px;
  }
}

@media (max-width: 681px) {
  .section-work-Card {
    width: 619px;
    height: 262px;
  }

  .card-right-button {
    padding: 8px 5px;
    border-radius: 7px;
    text-align: center;
    border: 1px solid #565de8;
    margin-top: 9px;
  }

  .section-work-Card-left {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 7px;
    background-image: url("Assets/mobile.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .section-work-Card-right {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  .Card-right-title {
    margin-top: 16px;
  }

  .Card-right-description {
    font-size: 14px;
  }

  .landing-page-description {
    font-size: 14px;
  }

  .carousel-header {
    font-size: 17px;
  }

  .About-me-left h1 {
    font-size: 31px;
  }

  .About-me-left,
  .About-me-right {
    width: 301px;
    height: 300px;
  }

  .carousel-content nav {
    width: 85px;
    height: 71px;
    border-radius: 7px;
  }

  .carousel-content {
    display: flex;
    gap: 12px;
    margin: 17px;
  }
}

@media (max-width: 651px) {
  header {
    width: 100%;
    height: 130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .header-nav {
    padding: 0 40px;
  }

  .header-nav .item {
    display: none;
    gap: 12px;
  }

  .header-nav .menu-icon {
    display: inline;
    font-size: 32px;
  }

  .landing-section {
    width: 100%;
    height: 552px;
  }

  .section-work-Card {
    width: 572px;
    height: 587px;
    flex-direction: column;
  }

  .order {
    order: 0;
  }

  .card-right-button {
    margin: 17px 0;
  }

  .section-work-Card-left {
    width: 100%;
    height: 100%;
    padding: 5px;
  }

  .landing-page {
    gap: 19px;
  }

  .section-work-Card-right {
    width: 100%;
    height: 290px;
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  .About-me {
    width: 100%;
    height: 845px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    justify-content: center;
  }

  .About-me-left,
  .About-me-right {
    width: 552px;
    height: 300px;
  }

  .carousel-content nav {
    width: 100%;
    height: 55px;
    display: flex;
    gap: 12px;
    align-items: center;
    border-radius: 7px;
    padding: 20px 5px;
  }

  .carousel-content {
    display: flex;
    gap: 13px;
    margin: 21px;
    flex-direction: column;
  }

  .logo-js {
    width: 46px;
  }

  .logo-css {
    width: 46px;
  }

  .logo-html {
    width: 46px;
  }
}

@media (max-width: 611px) {
  .section-work-Card {
    width: 456px;
    height: 587px;
    flex-direction: column;
  }

  .About-me-left,
  .About-me-right {
    width: 487px;
    height: 300px;
  }
}

@media (max-width: 506px) {
  .header-nav {
    padding: 0 30px;
  }

  .landing-section {
    margin-top: -59px;
  }

  .section-work-Card {
    width: 456px;
    height: 587px;
    flex-direction: column;
  }

  .landing-page {
    width: 88%;
  }

  .landing-page-part-name {
    font-size: 40px;
    font-weight: 900;
    color: #25253e;
  }

  .landing-page-part {
    width: 79%;
  }

  .About-me-left,
  .About-me-right {
    width: 462px;
    height: 300px;
  }
}

@media (max-width: 484px) {
  .landing-section {
    margin-top: -126px;
  }

  .section-work-Card {
    width: 400px;
    height: 587px;
    flex-direction: column;
  }

  .About-me-left,
  .About-me-right {
    width: 400px;
    height: 300px;
  }

  .carousel-content nav {
    width: 100%;
    height: 15px;
    display: flex;
    gap: 12px;
    align-items: center;
    border-radius: 7px;
    padding: 25px 5px;
  }

  .carousel-header {
    padding: 9px 10px;
  }

  .logo-js {
    width: 32px;
  }

  .logo-css {
    width: 32px;
  }

  .logo-html {
    width: 32px;
  }
}

@media (max-width: 425px) {
  .landing-section {
    margin-top: -59px;
  }

  .section-work-Card {
    width: 369px;
    height: 569px;
    flex-direction: column;
  }

  .carousel-content nav {
    width: 100%;
    height: 15px;
    display: flex;
    gap: 12px;
    align-items: center;
    border-radius: 7px;
    padding: 25px 5px;
  }

  .logo-js {
    width: 27px;
  }

  .logo-css {
    width: 27px;
  }

  .logo-html {
    width: 27px;
  }

  .About-me-left,
  .About-me-right {
    width: 340px;
    height: 300px;
  }

  .Contact-me-content {
    width: 360px;
    height: 500px;
  }
}

@media (max-width: 398px) {
  .header-nav {
    padding: 0 20px;
  }

  .landing-section {
    margin-top: -59px;
  }

  .landing-page-part {
    width: 100%;
  }

  .landing-page-part-name {
    font-size: 38px;
    font-weight: 900;
    color: #25253e;
  }

  .section-work-Card {
    width: 330px;
    height: 500px;
    flex-direction: column;
  }

  .About-me-left,
  .About-me-right {
    width: 317px;
    height: 300px;
  }

  .Contact-me-content {
    width: 310px;
    height: 500px;
  }
}
